// Navigation code here
header nav {
    display: flex;
    vertical-align: top;
  }
  header nav a {
    
    margin-right: 50px;
    font-size: 20px;
    color: black;
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: space-between;
  }

  header .container {
    background: @maincolor;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
      
		}
  
  
  nav {
      
      padding-right: 20px;
      padding-left: 20px;
      
      //enter in media margin bottom
  

  header .logo {
    font-size: 30px
  }
  }
